<div class="w-50 mx-auto">
    <p class="fs-1">Add products</p>
    <form action="/add-products" method="POST">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="title" id="title" placeholder="Title">
            <label for="title">Title</label>
        </div>
        <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="Description" id="description" name="description"
                style="height: 100px"></textarea>
            <label for="floatingTextarea2">Description</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="image" id="Image" placeholder="Image">
            <label for="Image">Image</label>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <div class="form-floating">
                <input type="number" class="form-control" name="price" id="price" placeholder="Price">
                <label for="price">Price</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Add products</button>
    </form>
</div>