<div class="w-50 mx-auto">
    <div class="col-md-9 col-lg-6 col-xl-5 mb-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
            alt="Sample image">
    </div>
    {{#if loginError}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Error!</strong>
        {{loginError}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}
    <form action="/login" method="POST">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" name="email" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Login</button>
    </form>
</div>