<div class="w-50 mx-auto">
    {{#if registerError}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Error!</strong>
        {{registerError}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}
    <form action="/register" method="POST">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="firstname" id="first" placeholder="First name">
            <label for="first">First name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="lastname" id="last" placeholder="Last name">
            <label for="last">Last name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" name="email" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <button type="submit" class="btn btn-success mt-3">Sign up</button>
    </form>
    <div class="col-md-9 col-lg-6 col-xl-5 mt-3">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
            alt="Sample image">
    </div>
</div>